.row
  .columns.large-12
    Call us now 0161 776 7676
    Find us just off the M60 Junction


    %h3 Featured Cars

    .welcome
      .row
        .columns.large-6
          %h3 Welcome to M60 Car Warehouse
          = lorem
        .columns.large-6
          %h3 About M60 Car Warehouse
          = lorem

          %h3 Our Philosophy
          = lorem

