/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$orange: #EF923D;
$darkgrey: #585A59;

body {
  // font-size: 13px !important;
}

.top-bar {
  margin-bottom: 0 !important;
}

#logo {
  background: image-url("m60-logo.png") center center no-repeat;
  width: 138px;
  height: 100px;
  display: block;
  text-indent: -9999px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.welcome {
  padding: 0 20px;
  background: $darkgrey;
  color: #FFF;
  h3 {
    line-height: 80px;
  }
}

a {
  text-decoration: none;
}

header {
  background: #585A59;
  text-transform: uppercase;
  a {
    color: #FFF;
  }
}

footer {
  line-height: 50px;
  font-family: 'Montserrat';
  .orange {
    background: $orange;
  }
  .grey {
    background: #D4D4D4;
  }
  .black {
    background: #000;
  }

  color: #FFF;
  text-align: center;
  text-transform: uppercase;
} //= require foundation_and_overrides
